---
import { client } from "../lib/contentful";
import { Icon } from 'astro-icon/components'

const projects = await client.getAllProjects();
---
<!-- TODO add option for tags could i have a featured tag that shows on the main page and all the other searchable on another? -->

<div class="flex flex-wrap pt-10 m-5" id="project">
  {projects.map((project: any) => (
    <div class="md:w-1/2 lg:w-1/3 px-2.5 mb-5">
      <article class="rounded-lg shadow-[0px_5px_15px_rgba(0,0,0,0.35)] h-full flex flex-col items-start justify-between">
       <div>
        <img
         class="w-full object-cover rounded-t-lg "
         alt={project.coverImage.description}
         src={project.coverImage.url}
        />
        <div class="p-3">
        <h2 class="text-xl font-bold mb-2">{project.title}</h2>
        <hr class=" h-0.5 mx-auto bg-highland-500 border-0 rounded mb-4
         ">
        <p class="mb-6">{project.description}</p>
        <div class="grid grid-flow-col justify-center gap-6 m-5">
        <img
          src={project.skill.url}
              alt=""
              class=" h-10"
        />
        <img
              src={project.skill2.url}
              alt=""
              class="h-10"
         />
        <img
              src={project.skill3.url}
              alt=""
              class="h-10"
        />
        <img
              src={project.skill4.url}
              alt=""
              class="h-10"
        />
        </div>
        <div class="grid grid-flow-col justify-center gap-6 text-highland-500">
          <a href={project.gitLink}>
            <Icon name="git" size={45} />
          </a>
          <a href={project.siteLink}>
            <Icon name="link" size={45} />
          </a>
        </div>
        </div>
      </div>
    </article>
  </div>
    ))
  }
</div>